.navbar {
    div {
        display: inline-block;
    }
    display: flex;
    align-items: center;
    padding: 0 20px;

    ul li {
        display: inline-block;
        line-height: 80px;
        margin: 0 5px;
        place-content: space-between;
    
        a {
            color: black;
            text-decoration: none;
            font-family: poppins;
            font-size: 1em;
            padding-bottom: 1em;
        }
    
        a:hover {
            color: #B79B6C;
        }
    }
}
input[type=search] {
    width: 150px;
    border-radius: 20px;
    background-image: url(/assets/img/search.png);
    height: 30px;
    background-position: 8px 5px;
    border: none;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    border-inline-color: white;
}
textarea:focus, input:focus{
    outline: none;
}
input[type=search]:focus {
    border: none;
}



.brand {
    display: inline-block;
    line-height: 90px;
    margin: 0 5px;
    padding-left: 40px;
    a {
        color: black;
        font-family: century-gothic;
        font-size: 2.5em;
        text-decoration: none;
    }
}

.nav-hard-right {
    float: right;
}
.nav-hard-left {
    float: left;
    line-height: 80px;
    margin: 0 5px;
}

.nav-left {
    float: left;
}

.nav-right {
    float: right;
}

#mid-sec {
    margin-left: auto;
    margin-right: auto;   
    display: inline-block;
}

.burger {
    display: none !important;
}
.burger2 {
    display: none !important;
}

.mobile-nav {
    display: none !important;
}
.badge {
    position: relative;
    top: -24px;
    right: 10px;
    padding: 1px 6px;
    border-radius: 60%;
    background-color: #B79B6C;
    color: white;
  }

  .dropdown-content {
    right: 10px;
    display: none !important;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 8px 10px;
    z-index: 100;
    font-size: small;
    font-family: poppins;
    a{
        text-decoration: none !important;
        font-size: small !important;
        color: #B79B6C !important;
    }
  }

  .profile:hover .dropdown-content {
    display: block !important;
  }

@media (max-width: 990px) {
    .brand {
        padding: 0 0;
    }
    .nav-left {
        display: none !important;
    }
    .nav-hard-left {
        display: none !important;
    }
    .nav-hard-right {
        display: none !important;
    }
    .nav-right {
        display: none !important;
    }

    .brand {
        float: left !important;
    }

    .burger {
        display: block !important;
    }
    .burger2 {
        display: block !important;
        visibility: hidden;
    }

    .mobile-nav {
        display: none !important;
        position: fixed;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100vh;
        background-color: #B79B6C;
        padding: 0;
        margin: 0;
        z-index: 9999;
        li{
            display: block !important;
            padding: 0;
            margin: 0;
            a {
                color: black;
                text-decoration: none;
                font-family: poppins;
                font-size: 1.3em;
                padding-bottom: 1.0em;
            }
        
            a:hover {
                color: white;
            }
        }
        .burger {
            padding: 20px;
        }
    }

    .navigate {
        display: block !important;
    }
    
    
}