  <section class="login-hero">

    <div class="actual-form">

        <h1>Log In</h1>
        
          <mat-spinner *ngIf="this.authService.loading"></mat-spinner>
          <form (submit)="onLogin(loginForm)" #loginForm="ngForm" *ngIf="!this.authService.loading">
            <mat-form-field class="mat">
              <input matInput name="phone" autocomplete="off"   type="email" placeholder="Phone/Email" ngModel #phoneInput="ngModel" required phone>
            </mat-form-field>
            <br>
            <mat-form-field class="mat">
              <input type="password"  autocomplete="off" name="password" ngModel matInput placeholder="Password" #passwordInput="ngModel" required>
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill" class="mat">
              <mat-select  placeholder="Country" name="country" ngModel #nameInput="ngModel" required>
                  <mat-option *ngFor="let country of countries" [value]="country.id">
                      {{country.name}}
                  </mat-option>
              </mat-select>
            </mat-form-field>
            <button  color="accent" type="submit" *ngIf="!this.authService.loading">Login</button>
          </form>
          <br>
          <p>Forgot Password? <a href="/forgot">click here</a></p>
          <p>Dont have an account <a href="/signup">Register here</a></p>
      
        
      
        

       
    </div>

</section>


  