button {
    background-color: black;
    border: none;
    box-shadow: none;
    color: white;
    padding: .7em 1em;
}
button:hover {
    background-color: #B79B6C;
}

.details {
    flex: 1;
    h1 {
        font-size: 2em;
        margin-bottom: 0;
    }
    h2 {
        margin-top: 0;
        font-size: 1.3em;
    }
    .dress-details {
        padding-top: 2em;
        p{
            margin: 0;
            font-size: 1em;
            font-weight: 100;
        }
        padding-bottom: 2em;
    }

    .days {
        padding-top: 1em;
    }

    .add {
        margin-bottom: 1em;
    }
    
    .rent{
        margin-top: 1em;
        font-size: 2em;
    }
}