section {
    text-align: center;
    height: fit-content;
}
.main {
    font-family: Poppins;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    h1{
        font-size: 4em;
    }
}