.cart {
    padding: 6em 2em 6em 2em;
}

.container {
    text-align: center;
    align-content: center;
}

.table {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.cancel {
    //border-radius: 100%;
    width: 20px;
    height: 20px;
    background-color: black;
}

button {
    background-color: black;
    border: none;
    box-shadow: none;
    color: white;
}
button:hover {
    background-color: #B79B6C;
}

.fas {
    padding-left: 2px;
}

.fas:hover {
    color: #B79B6C;
}
.order-details {
    display: inline-block;
    width: 100%;
}
.radios {
    display: flex;
}
.add-total {
    display: flex;
}
.delivery-method {
    padding-top: 4em;
    padding-left: 8em;
    width: 50%;
    text-align: left;
}
.payment-method {
    padding-top: 4em;
    padding-left: 8em;
    width: 50%;
    text-align: left;
}
.address {
    padding-top: 4em;
    padding-left: 8em;
    width: 50%;
    text-align: left;
}
.total-payment {
    padding-top: 7em;
    padding-right: 8em;
    width: 50%;
    text-align: right;
    h2 {
        margin: 0;
    }
}

.signup-text-area {
    width: 50%;
    padding-left: .5em;
    margin-bottom: .9em;
    float: left;
    border-radius: 20px;
    padding: .3em .3em;
    border: .12em solid gray;
}

.signup-text-area:hover {
    border: .12em solid black;
}

.signup-text-area:focus {
    outline: none;
    border: .12em solid #B79B6C;
}

button {
    background-color: black;
    border: none;
    box-shadow: none;
    color: white;
    padding: .7em 1em;
    width: 9em;
}
button:hover {
    background-color: #B79B6C;
}

.confirm-order {
    padding-top: 4em;
    padding-left: 8em;
    text-align: left;
    button {
        float: right;
        margin-top: 2em;
        margin-right: 8em;
    }
}

@media (max-width: 990px) {
    .cart {
        font-size: 0.7em;
    }
    .cancel {
        //border-radius: 100%;
        width: 15px;
        height: 15px;
        background-color: black;
    }

    .signup-text-area {
        width: 60%;
    }
}

@media (max-width: 680px) {
    .cart {
        font-size: 0.7em;
    }
    .cancel {
        //border-radius: 100%;
        width: 15px;
        height: 15px;
        background-color: black;
    }

    .signup-text-area {
        width: 70%;
    }

    .total-payment {
        padding-top: 7em;
        padding-right: 4em;
        text-align: right;
        h2 {
            margin: 0;
        }
    }
}

.d-none {
    display: none;
}

.snackbar {
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    font-family: poppins;
    background-color: black;
    color: white;
    letter-spacing: 3px;
    word-spacing: 5px;
}

.disabled {
    background-color: grey !important;
}
.disabled:hover {
    background-color: gray !important;
}

@media (max-width: 480px) {
    .cart {
        font-size: 0.7em;
    }
    .cancel {
        //border-radius: 100%;
        width: 15px;
        height: 15px;
        background-color: black;
    }

    .radios {
        display: inline-block;
        float: left;
    }
    .add-total {
        display: inline-block;
        text-align: left;
    }
    .delivery-method {
        padding-top: 1em;
        padding-left: .1em;
        width: 100%;
        text-align: left;
    }
    .payment-method {
        padding-top: 1em;
        padding-left: .1em;
        width: 100%;
        text-align: left;
    }
    .address {
        padding-top: 1em;
        padding-left: .1em;
        width: 100%;
        text-align: left;
    }
    .signup-text-area {
        width: 90%;
        padding-left: .5em;
        margin-bottom: .9em;
        float: left;
        border-radius: 20px;
        padding: .3em .3em;
        border: .12em solid gray;
    }
    .total-payment {
        padding-top: 7em;
        width: 100%;
        text-align: left;
        h2 {
            margin: 0;
        }
    }
    .confirm-order {
        padding-top: 4em;
        padding-left: .1em;
        text-align: left;
        button {
            margin-top: 2em;
            margin-right: auto;
            margin-left: auto;
        }
    }
}

