button {
    background-color: black;
    border: none;
    box-shadow: none;
    color: white;
    padding: .7em 1em;
}
button:hover {
    background-color: #B79B6C;
}

.main{
    display: inline-block;
}

.block {
    display: flex;
    place-content: space-between;
}

span:hover{
    color: #B79B6C;
}
span {
    margin-left: .5em;
    cursor: pointer;
}
label{
    padding-right: 1em;
}

.signup-text, .signup-select, .signup-text-area {
    width: 10em;
    padding-left: .5em;
    margin-bottom: .7em;
    float: right;
    border-radius: 20px;
    padding: .3em .3em;
    border: .12em solid gray;
}
.signup-text:hover, .signup-select:hover, .signup-text-area:hover {
    border: .12em solid black;
}
.signup-text:focus, .signup-select:focus, .signup-text-area:focus {
    border: .12em solid #B79B6C;
} 
.signup-select {
    width: 11em;
}

input:hover, textarea:hover, select:hover {
    border-color: black;
}

textarea:focus, input:focus, select:focus{
    outline: none;
    border-color: #B79B6C;
}

.clicked {
    color: #B79B6C;
}