.actual-form {
    padding: 4em 0em;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    
    input {
        margin-bottom: 1rem;

    }
    input:hover, textarea:hover, select:hover {
        border-color: black;
    }
    input, .signup-select, .input-area {
        width: 70%;
        padding-left: .5em;
        border-radius: 20px;
        padding: .3em .3em;
        border: .12em solid gray;
    }
    input:hover, .signup-select:hover, .input-area:hover {
        border: .12em solid black;
    }
    input:focus, .signup-select:focus, .input-area:focus {
        border: .12em solid #B79B6C;
    }
    
}

button {
    background-color: black;
    border: none;
    box-shadow: none;
    color: white;
    padding: .7em 1em;
    width: 9em;
}
button:hover {
    background-color: #B79B6C;
}
p{
    font-size: poppins;
    a{
        color: blue;
        text-decoration: none;
    }
}

h1 {
    font-family: poppins;
    font-weight: normal;
    font-size: 2em;
}

textarea:focus, input:focus, select:focus{
    outline: none;
    border-color: #B79B6C;
}

input:hover, textarea:hover, select:hover {
    border-color: black;
}

.d-none {
    display: none;
}


.snackbar {
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    font-family: poppins;
    background-color: black;
    color: white;
    letter-spacing: 3px;
    word-spacing: 5px;
}

.loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  
  /* Transparent Overlay */
  .loading:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
      background: radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0, .8));
  
    background: -webkit-radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0,.8));
  }
  
  /* :not(:required) hides these rules from IE9 and below */
  .loading:not(:required) {
    /* hide "loading..." text */
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
  }
  
  .loading:not(:required):after {
    content: '';
    display: block;
    font-size: 10px;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    -webkit-animation: spinner 150ms infinite linear;
    -moz-animation: spinner 150ms infinite linear;
    -ms-animation: spinner 150ms infinite linear;
    -o-animation: spinner 150ms infinite linear;
    animation: spinner 150ms infinite linear;
    border-radius: 0.5em;
    -webkit-box-shadow: rgba(255,255,255, 0.75) 1.5em 0 0 0, rgba(255,255,255, 0.75) 1.1em 1.1em 0 0, rgba(255,255,255, 0.75) 0 1.5em 0 0, rgba(255,255,255, 0.75) -1.1em 1.1em 0 0, rgba(255,255,255, 0.75) -1.5em 0 0 0, rgba(255,255,255, 0.75) -1.1em -1.1em 0 0, rgba(255,255,255, 0.75) 0 -1.5em 0 0, rgba(255,255,255, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(255,255,255, 0.75) 1.5em 0 0 0, rgba(255,255,255, 0.75) 1.1em 1.1em 0 0, rgba(255,255,255, 0.75) 0 1.5em 0 0, rgba(255,255,255, 0.75) -1.1em 1.1em 0 0, rgba(255,255,255, 0.75) -1.5em 0 0 0, rgba(255,255,255, 0.75) -1.1em -1.1em 0 0, rgba(255,255,255, 0.75) 0 -1.5em 0 0, rgba(255,255,255, 0.75) 1.1em -1.1em 0 0;
  }
  
  /* Animation */
  
  @-webkit-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-moz-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-o-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

@media (min-width: 990px) {
    .actual-form {
        padding: 4em 0em;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        
        input {
            margin-bottom: 1rem;
    
        }
        input:hover, textarea:hover, select:hover {
            border-color: black;
        }
        input, .signup-select, .input-area {
            width: 15%;
            padding-left: .5em;
            border-radius: 20px;
            padding: .3em .3em;
            border: .12em solid gray;
        }
        input:hover, .signup-select:hover, .input-area:hover {
            border: .12em solid black;
        }
        input:focus, .signup-select:focus, .input-area:focus {
            border: .12em solid #B79B6C;
        }
        
    }
}

