section{
    font-family: Proxima Nova;
    margin: 0%;
}

a {
    text-decoration: none;
    cursor: pointer;
}
a:hover {
    color: #B79B6C;
}

.main {
    display: block;
    .hero-left {
        height: fit-content;
        width:100%;
        h2 {
            color: #B79B6C;
        }
        padding-bottom: 2em;
    }
    .hero-right {
        height: fit-content;
        width: 100%;
        a {
            padding-top: 2.5em;
        }
        h1 {
            font-size: 3em;
        }
    }
}
.text-block {
    text-align: center;
}
img {
    width: 100%;
    height: justify;
}

.breaker {
    .bar {
        padding: .6em 0;
        text-align: center;
        background-color: rgb(212, 212, 212);
    }
}

.display-block {
    display: block;
    .details {
        justify-content: center;
        padding-left: 2em;
        text-align: center;
        padding-bottom: 1.5em;
        span {
            color: #B79B6C;
        }
        h2 {
            font-size: 1em;
        }
        h1{
            font-size: 2.5em;
        }
    }

    p{
        margin: 0;
    }

    .item-block1 {
        padding: 20px 20px;
        .buttons {
            display: flex;
            place-content: space-between;
            position: relative;
            bottom: 90px;
            padding-left: 30px;
            padding-right: 30px;
        }

        .dress-detail {
            position: relative;
            top: -30px;
        } 
        
    }

    .item-block2 {
        padding: 20px 20px;
        .buttons {
            display: flex;
            place-content: space-between;
            position: relative;
            bottom: 90px;
            padding-left: 30px;
            padding-right: 30px;
        }

        .dress-detail {
            position: relative;
            top: -30px;
        } 

        
    }

}

.cat {
    font-size: smaller;
    font-family:Arial, Helvetica, sans-serif;
}

.nam {
    font-size: larger;
    font-family: Poppins;
    font-weight: bold;
}

.price {
    font-size: small;
}

.media {
    display: block;
    .sm-links {
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: center;
        padding-bottom: 1em;
        a {
            padding: 1em 1em;
            position: relative;
            top: 50%;
            //left: 18%;
        }
        img {
            width: 15px;
            padding-right: .3em;
        }
    }
    .blog1 {
        height: fit-content;
        .content1{
            padding: 2em 2em;
            margin-bottom: 2em;
            color: white;
        }
        
    }
    .blog2 {
        height: fit-content;
        .content1{
            padding: 2em 2em;
            margin-bottom: 2em;
            color: white;
        }
        .content2{
            padding: 2em 2em;
            margin-bottom: 2em;
            color: white;
        }
    }

}

.info {
    display: flex;
    flex-direction: column;
}
.info-block {
    display: block;
    text-align: center;
    width: 100%;
    padding-bottom: 2em;
    padding-top: 2em;

    img {
        width: 40px;
    }
}

.sub-mail {
    background-image: url(/assets/img/sub.png);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    height: 30em;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.main-sub {
    background-color: #F9F9F9;
    position: relative;
    top: auto;
    left: auto;
    width: fit-content;
    height: fit-content;
    opacity: 80%;
   
}

.sub-content {
    padding: 2em 6em;
    text-align: center;
    display: inline-block;
    opacity: 100%;
    position: relative;
    top: 50%;
    background-color: #F9F9F9;
    input {
        height: 2.2em;
        width: justify;
        border-radius: 1em 0em 0em 1em;
        border: .1em solid gray;
    }
}

input:focus{
    outline: none;
    border-color: #B79B6C;
}

.snackbar {
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    font-family: poppins;
    background-color: black;
    color: white;
    letter-spacing: 3px;
    word-spacing: 5px;
}


button {
    background-color: black;
    border: none;
    box-shadow: none;
    color: white;
    padding: .7em 1em;
}
button:hover {
    background-color: #B79B6C;
}

.d-none {
    display: none;
}

.lines {
    color: black;
}

@media (min-width: 990px) {

    button {
        background-color: black;
        border: none;
        box-shadow: none;
        color: white;
        padding: .7em 1em;
    }
    button:hover {
        background-color: #B79B6C;
    }

    .info {
        display: flex;
        flex-direction: row;
    }
    .info-block {
        display: block;
        text-align: center;
        width: 25%;
        padding-bottom: 2em;
        padding-top: 2em;
    
        img {
            width: 40px;
        }
    }

    .lines {
        display: none !important;
    }

    .media {
        display: block;
        .blog1 {
            height: fit-content;
            display: flex;
            
            .content1{
                width: 50%;
                height: 15em;
                padding: 2em 2em;
                margin-left: 1em;
                //margin-right: 1em;
                margin-bottom: 2em;
                color: white;
            }
            
        }
        .blog2 {
            height: fit-content;
            display: flex;
            .content1{
                width: 50%;
                margin-left: 1em;
                margin-right: 1em;
                padding: 2em 2em;
                margin-bottom: 2em;
                color: white;
            }
            .content2{
                width: 25%;
                margin-right: 1em;
                padding: 2em 2em;
                margin-bottom: 2em;
                color: white;
            }
        }
    
    }

    .display-block {
        display: flex;
        place-content: space-between;
        .details {
            width: 40%;
            text-align: left;
            padding-bottom: 1.5em;
            align-items: center;
            height: inherit;
            margin-top: auto;
            margin-bottom: auto;
        }
    
        p{
            margin: 0;
        }
    
        .item-block1 {
            padding: 20px 20px;
            width: 30%;
            height: 20em;
            .buttons {
                display: flex;
                place-content: space-between;
                position: relative;
                bottom: 90px;
                padding-left: 30px;
                padding-right: 30px;
            }
    
            .dress-detail {
                position: relative;
                top: -30px;
            } 
            .d-image1 {
                width: 100%;
                img {
                    height: 30em !important;
                }
            }
            .d-image3 {
                width: 100%;
                img {
                    height: 30em !important;
                }
            }
        }
    
        .item-block2 {
            padding: 20px 20px;
            width: 30%;
            .buttons {
                display: flex;
                place-content: space-between;
                position: relative;
                bottom: 90px;
                padding-left: 30px;
                padding-right: 30px;
            }
    
            .dress-detail {
                position: relative;
                top: -30px;
            }

            .d-image2 {
                width: 100%;
                img {
                    height: 30em !important;
                }
            }
            .d-image4 {
                width: 100%;
                img {
                    height: 30em !important;
                }
            }
        }
    
    }
    img {
        width: justify;
    }
    .main {
        display: flex;
        .hero-left {
            
            height: fit-content;
            width:50%;
            h2 {
                color: #B79B6C;
            }
            padding-bottom: 2em;
            img {
                position: relative;
                padding-left: 15%;
                padding-top: 15%;
                width: 60%;
                height: justify;
            }
            .text-block {
                text-align: left;
                position: absolute;
                left: 05%;
                top: 80%;
            }
        }
        .hero-right {
            height: fit-content;
            display: flex;
            width: 50%;
            a {
                padding-top: 2.5em;
            }
            h1 {
                font-size: 3em;
            }
            .text-block {
                text-align: left;
                position: absolute;
                left: 60%;
                top: 70%;
            }
        }
    }
    

    
}