
:root {
    --theme-color-one: #B79B6C;
}

body {
    font-family: Proxima Nova;
    margin: 0%;
}

a {
    text-decoration: none;
}


li {
    text-decoration: none;
    list-style: none;
    padding-left: 2em;
}


.brand {
    font-family: century-gothic;
    text-decoration: none;
    color: black;
    font-size: 2.5em;
    padding-left: 1em;
}

.nav-link {
    text-decoration: none;
    color:black;
    font-size: 1.1em;
    display: inline-block;
}
.navbar {
    display: flex;
    place-content: space-between;
    padding-top: 1em;
}

.nav-left ul {
    display: flex;
}

.nav-hard-left ul {
    display: flex;
}

.nav-right ul {
    display: flex;
}

.nav-hard-right ul {
    display: flex;
}
.nav-hard-right{
    padding-right: 2em;
}

.nav-hard-left {
    padding-left: 2em;
    padding-top: 0.8em;
}

.nav-container {
   // background-color: beige;
    margin: 0em;
}

input[type=search] {
    border-radius: 20px;
    background-image: url(/../../assets/img/search.png);
    height: 30px;
    background-position: 8px 5px;
    border: none;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    border-inline-color: white;
}
textarea:focus, input:focus{
    outline: none;
}

.main {
    width: 100%;
    height: fit-content;
    margin: 0, auto;
    display: flex;
    //background-color: brown;
    place-content: space-between;
}

.hero-left img {
    width: 20em;
    top: 8em;
    left: 18em;
    position: relative;
}

.hero-left a {
    padding-top: 2.5em;
    display: block;
    position: absolute;
    bottom: 30%;
    left: 10%;
}
.hero-left h1 {
    padding-top: 2.5em;
    display: block;
    position: absolute;
    bottom: 30%;
    left: 10%;
    font-size: 2.5em;
}
.hero-left h2 {
    color: #B79B6C;
    border: 1px, solid;
    padding-top: 2.5em;
    display: block;
    position: absolute;
    bottom: 45%;
    left: 10%;
}

.hero-right img {
    width: inherit;
    float: right;
    height: 45em;
    position: absolute;
}

//.hero-left{
    //background-color: aqua;
//}

.hero-right{
    //background-color: blue;
    margin: 0%;
}

.hero-left, .hero-right {
    width: 50%;
}

.hero-right h1 {
    padding-top: 2.5em;
    display: block;
    position: absolute;
    bottom: 20%;
    right: 25%;
    font-size: 4.5em;
    font-weight: 20;
}

.breaker {
    margin-top: 17.3em;
    width: 100%;
    align-items: center;
    .bar {
        background-color: #F9F9F9;
        width: 100%;
        align-items: center;
        p {
            padding-top: 1.2em;
            text-align: center;
            padding-bottom: 1.2em;
            font-size: 1.2em;
        }
    }
}

.display-block {
    //background-color: #B79B6C;
    display: flex;
}

.details {
    //background-color: aqua;
    padding-top: 13em;
    padding-left: 2em;
    h1 {
        font-size: 2em;
        span {
            color: #B79B6C;
        }
    }
}

//.item-block1 {
    //background-color: aquamarine;
//}

//.item-block2 {
    //background-color: green;
//}

.details, .item-block1, .item-block2 {
    width: 50%;
    margin-right: 2.5em;
    margin-left: 2.5em;
}
.item-block1, .item-block2 {
    display: block;
}

.d-image1 {
    //background-color: blue;
    width: 100%;
    height: 30em;
    img {
        width: inherit;
        height: inherit;
    }
    p {
        position: absolute;
        color: white;
        top: 117%;
        right: 57%;
        text-decoration: none;
        background: #B79B6C;
        padding: .3em 1.1em;
    }
}
.d-image2 {
    //background-color: blue;
    width: 100%;
    height: 30em;
    img {
        width: inherit;
        height: inherit;
    }
    p {
        color: white;
        position: absolute;
        top: 117%;
        right: 24.5%;
        text-decoration: none;
        background: #B79B6C;
        padding: .3em 1.1em;
    }
}

button {
    background-color: black;
    border: none;
    box-shadow: none;
    color: white;
    padding: .7em 1em;
}
button:hover {
    background-color: #B79B6C;
}

.buttons {
    display: flex;
    place-content: space-between;
    margin-left: 2.6em;
    margin-right: 2.6em;
    position: relative;
    bottom: 12%;

}

.dress-detail {
    position: relative;
    bottom: 6%;
    //background-color: purple;
   // padding-left: 2em;
    display: block;
    line-height: 0.5em;
}
.cat {
    padding-top: 0em;
    font-weight: bold;
}
.nam {
    font-size: 1.3em;
}
.media {
    display: block;
}
.sm-links {
    display: flex;
    padding-left: 2em;
    a {
        padding: 1em 2em;
        position: relative;
        top: 50%;
        left: 28%;
    }
    img {
        width: 15px;
        padding-right: .3em;
    }
}

.footer {
    display: block;
    background-color: #32353C;
}

.main-block {
    display: flex;
    background: #32353C;
    
}

.footer-block {
    width: 25%;
    height: auto;
    li {
        a {
            color: #F9F9F9;
            text-decoration: none;
        }
        input {
            height: 2.2em;
        }
        color: #F9F9F9;
    }
}

.bottom-bar {
    background-color: #32353C;
    width: 100%;
    height: 50px;
    p {
        padding-right: 1em;
        float: right;
        color: white;
    }
}
.sub-mail {
    background-image: url(/../../assets/img/sub.png);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    height: 30em;
    display: block;
    width: 100%;
}

.main-sub {
    background-color: #F9F9F9;
    position: relative;
    top: 27%;
    left: 30%;
    width: fit-content;
    height: fit-content;
    opacity: 80%;
   
}

.sub-content {
    padding: 2em 6em;
    text-align: center;
    display: inline-block;
    opacity: 100%;
    position: relative;
    top: 50%;
    background-color: #F9F9F9;
    input {
        height: 2.1em;
        width: 20em;
        border-radius: 1em 0em 0em 1em;
        border: .1em solid gray;
    }
}

.info {
    display: flex;
}
.info-block {
    display: block;
    text-align: center;
    width: 25%;
    padding-bottom: 2em;
    padding-top: 2em;

    img {
        width: 40px;
    }
}

.blog1 {
    display: flex;
    padding: 2em 2em;
    place-content: space-between;
}

.content1 {
    width: 50%;
    padding: 2em 2em;
    color: #F9F9F9;
}

.blog2 {
    display: flex;
    padding: 2em 2em;
    place-content: space-between;
}

.content2 {
    width: 25%;
    padding: 2em 2em;
    color: #F9F9F9;
}