.cart {
    padding: 6em 2em 14em 2em;
}

.container {
    text-align: center;
    align-content: center;
}

.table {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.cancel {
    //border-radius: 100%;
    width: 20px;
    height: 20px;
    background-color: black;
}

button {
    background-color: black;
    border: none;
    box-shadow: none;
    color: white;
    padding: .7em 1em;
    width: 12em;
}
button:hover {
    background-color: #B79B6C;
}

.fas {
    padding-left: 2px;
}

.fas:hover {
    color: #B79B6C;
}

.button {
    float: right ;
    margin-right: 2em;
    margin-top: 8em;
}
@media (max-width: 990px) {
    .cart {
        font-size: 0.7em;
    }
    .cancel {
        //border-radius: 100%;
        width: 15px;
        height: 15px;
        background-color: black;
    }
}

