.container {
    display: flex;
}
.side {
    width:20%;
    height: justify;
    border: solid;
    button {
        width: 100%;
    }
}

.avatar {
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

.main-window {
    width: 80%;
    border: solid;
}
.details {
    display: inline-block;
}
button {
    background-color: black;
    border: none;
    box-shadow: none;
    color: white;
    padding-top: 1em;
    padding-bottom: 1em;
}
button:hover {
    background-color: #B79B6C;
}
.activated {
    background-color: #B79B6C;
}

.d-none {
    display: none;
}


.snackbar {
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    font-family: poppins;
    background-color: black;
    color: white;
    letter-spacing: 3px;
    word-spacing: 5px;
}

.signup-text, .signup-select, .signup-text-area {
    margin-top: 1.1em;
    margin-left: 1em;
    width: 90%;
    padding-left: .5em;
    margin-bottom: .7em;
    float: right;
    border-radius: 20px;
    padding: .4em .4em;
    border: .12em solid gray;
}
.signup-text {
    height: 1.5em;
}
.signup-select {
    height: 2.6em;
}
.signup-text:hover, .signup-select:hover, .signup-text-area:hover {
    border: .12em solid black;
}
.signup-text:focus, .signup-select:focus, .signup-text-area:focus {
    border: .12em solid #B79B6C;
} 
.signup-select {
    width: 94%;
}
.block {
    display: flex;
    text-align: left;
    padding-right: 10%;
    padding-left: 10%;
    button {
        width: 8em;
        margin-bottom: 1em;
    }
}

textarea:focus, input:focus, select:focus{
    outline: none;
    border-color: #B79B6C;
}

input:hover, textarea:hover, select:hover {
    border-color: black;
}

.c-orders{
    p {
        margin: 10px 0px;
    }
    padding-left: 1em;
    padding-right: 1em;
    h1{
        font-family: Poppins;
        font-size: larger;
    }
    h2 {
        font-family: Poppins;
        font-size: large;
    }
    h3 {
        font-family: Poppins;
        font-size: medium;
    }

    .double {
        display: flex;
        place-content: space-between;
        span {
            font-weight: 1em;
        }
        button {
            width: 30%;
            margin-left: .5em;
            margin-right: .5em;
        }
    }
}

:host ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {   
    stroke: black;
}

.loader {
    padding-top: 6em;
    height: 10em;
}

.change-password {
    text-align: center;
    button {
        margin-bottom: 1em;
    }
}

@media (max-width: 990px) {
    .container {
        display: inline-block;
        width: 100%;
    }

    .side {
        width:100%;
        height: justify;
        border: solid;
        button {
            width: 100%;
        }
    }
    
    
    .main-window {
        width: 100%;
        border: solid;
    }

    .double {
        display: flex;
        place-content: space-between;
        span {
            font-weight: 1em;
        }
        button {
            width: 100% !important;
            margin-left: .5em;
            margin-right: .5em;
        }
    }
}