<!-- <mat-card>
    
  </mat-card> -->
  

  
  <section class="signup-hero">
    <br><br><br><br>

    <div class="signup-form">
        <h1>Sign Up</h1>

        <mat-spinner *ngIf="isLoading"></mat-spinner>
        <form (submit)="onSignup(signupForm)" #signupForm="ngForm" *ngIf="!isLoading">

            <mat-form-field appearance="fill" class="signup-text">
                <mat-label>First Name</mat-label>
                <input matInput placeholder="First Name" name="first_name"  ngModel #nameInput="ngModel" required>
            </mat-form-field>

            <mat-form-field appearance="fill" class="signup-text">
                <mat-label>Last Name</mat-label>
                <input matInput placeholder="Last Name" name="last_name"  ngModel #nameInput="ngModel" required>
            </mat-form-field>

            <mat-form-field appearance="fill" class="signup-text">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email" name="email"  ngModel #nameInput="ngModel" required>
            </mat-form-field>

            <mat-form-field appearance="fill" class="signup-text">
                <mat-label>Password</mat-label>
                <input matInput placeholder="Password" type="password" name="password"  ngModel #nameInput="ngModel" required>
            </mat-form-field>

            <mat-form-field appearance="fill" class="signup-text">
                <mat-label>Confirm Password</mat-label>
                <input matInput placeholder="Confirm Password" type="password" required>
            </mat-form-field>

            <mat-form-field appearance="fill" class="signup-text">
                <mat-label>Phone Number</mat-label>
                <input matInput placeholder="Phone Number" name="phone"  ngModel #nameInput="ngModel" required>
            </mat-form-field>

            <mat-form-field appearance="fill" class="signup-text">
                <mat-select  placeholder="Country" name="country" ngModel #nameInput="ngModel" required>
                    <mat-option *ngFor="let country of countries" [value]="country.dialing_code">
                        {{country.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

              <label>Cargo Option: </label>
              <mat-radio-group name="cargo" ngModel #cargoInput="ngModel" required class="signup-text" >
                <mat-radio-button value="1">Cargo Individual</mat-radio-button>
                <mat-radio-button value="2">Cargo Company</mat-radio-button>
              </mat-radio-group>
              <br>

              <mat-checkbox name="terms_accepted" ngModel #nameInput="ngModel" required>I accept the terms and condidtions</mat-checkbox>
        
            
            <div class="block">
            <button class="sign" *ngIf="!isLoading" type="submit">Next</button>
            </div>
        </form>

        <br>
        <br>
</div>

</section>

