.signup-form {
    display: block;
    text-align: left;
    padding-left: 6em;
    height: fit-content;
    h1 {
        font-size: 2em;
    }
}

.signup-text {
    display: block;
    //border-radius: 4em;
    //border: .1em solid gray;
    margin-left: 2em;
    margin: .5em 2em;
    width: 14.6em;
    //height: 1.5em;
    padding-left: 1em;
    padding-right: 1em;
}
.mat-form-field-appearance-outline .mat-form-field-outline {
    color: black;
    border-radius: 4em;
    border: .2em solid gray;
   
  }


::ng-deep .mat-form-field {
    // border-radius: 4em;
    // border: .2em solid gray;
    // margin-left: 2em;
    // margin: .5em 2em;
    // width: 18em;
    // height: 2.5em;
    // padding-left: 1em;
    // padding-right: 1em;
}

.signup-select {
    border-radius: 2em;
    border: .1em solid gray;
    width: 15em;
    margin-left: 2em;
    height: 2em;
    margin: .5em 2em;
}

.signup-text-area {
    border-radius: 1em;
    border: .1em solid gray;
    margin-top: 1em;
    margin-left: 2em;
    padding-left: 1em;
}

.sign {

    width: 9em;
}

.signup-hero {
    overflow-y:scroll;
    height: 50em;
}

button {
    background-color: black;
    border: none;
    box-shadow: none;
    color: white;
    padding: .7em 1em;
}
button:hover {
    background-color: #B79B6C;
}