<br><br><br><br><br>

<div *ngIf="extendedForm == 1" class="signup-hero">
        <br><br><br><br>
        <div class="signup-form">
            <h1>Sign Up as Cargo Individual</h1>
    
            <mat-spinner *ngIf="isLoading"></mat-spinner>
            <form (submit)="onIndividualExtended(signupForm)" #signupForm="ngForm" *ngIf="!isLoading">
    
                <mat-form-field appearance="fill">
                    <mat-label>National ID Number</mat-label>
                    <input matInput placeholder="ID" name="national_id"  ngModel #nameInput="ngModel">
                </mat-form-field>
    
                
                <div class="block">
                <button class="sign" *ngIf="!isLoading" type="submit">Sign Up</button>
                </div>
            </form>
    
            <br>
            <br>
        </div>
    
</div>

<div *ngIf="extendedForm == 2">
    <br><br><br><br>
        <div class="signup-form">
            <h1>Sign Up as Cargo Company</h1>
    
            <mat-spinner *ngIf="isLoading"></mat-spinner>
            <form (submit)="onCompanyExtended(signupForm)" #signupForm="ngForm" *ngIf="!isLoading">
    
                <mat-form-field appearance="fill">
                    <mat-label>Comapny Name</mat-label>
                    <input matInput placeholder="Company Name" name="name"  ngModel #nameInput="ngModel" required>
                </mat-form-field>
    
                
                <div class="block">
                <button class="sign" *ngIf="!isLoading" type="submit">Sign Up</button>
                </div>
            </form>
    
            <br>
            <br>
        </div>
</div>

