<br><br><br><br><br>

<div>
    <br><br><br><br>
        <div class="signup-form">
            <h1>Forgot Your Password?</h1>
    
            <mat-spinner *ngIf="isLoading"></mat-spinner>
            <form (submit)="onForgotPassword(forgotForm)" #forgotForm="ngForm" *ngIf="!isLoading">
    
                <mat-form-field appearance="fill">
                    <mat-label>Enter Phone No.</mat-label>
                    <input matInput placeholder="Phone Number" name="phone"  ngModel #nameInput="ngModel" required>
                </mat-form-field>
                <br>
                <mat-form-field appearance="fill" class="mat">
                    <mat-select  placeholder="Country" name="country" ngModel #nameInput="ngModel" required>
                        <mat-option *ngFor="let country of countries" [value]="country.id">
                          {{country.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <div class="block">
                    <button class="sign" *ngIf="!isLoading" type="submit">Next</button>
                </div>
            </form>
    
            <br>
            <br>
        </div>
</div>

