button {
    background-color: black;
    border: none;
    box-shadow: none;
    color: white;
    padding: .7em 1em;
}
button:hover {
    background-color: #B79B6C;
}

.details {
    flex: 1;
    h1 {
        font-size: 2em;
        margin-bottom: 0;
    }
    h2 {
        margin-top: 0;
        font-size: 1.3em;
    }
    .dress-details {
        padding-top: 2em;
        p{
            margin: 0;
            font-size: 1em;
            font-weight: 100;
        }
        padding-bottom: 2em;
    }

    .days {
        padding-top: 1em;
    }

    .add {
        margin-bottom: 1em;
    }
    
    .rent{
        margin-top: 1em;
        font-size: 2em;
    }

    
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rate {
    float: left;
    height: 46px;
    padding: 1em 0em;

}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:20px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '❤ ';
}
.rate > input:checked ~ label {
    color: black;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: black;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #B79B6C;
}