<section class="login-hero">

    <div class="actual-form">

        <h1>Phone Verification</h1>
        
          <mat-spinner *ngIf="isLoading"></mat-spinner>
          <form (submit)="onSubmit(loginForm)" #loginForm="ngForm" *ngIf="!isLoading">
            <mat-form-field>
              <input matInput name="code" autocomplete="off" class="input-text"  type="password" placeholder="Verification code" ngModel #codeInput="ngModel" required>
              <mat-error *ngIf="codeInput.invalid">Please enter a valid Verification code</mat-error>
            </mat-form-field>
            <br>
            
            <button  color="accent" type="submit" *ngIf="!isLoading">Login</button>
          </form>
      
        
      
        

       
    </div>

</section>


  