.categories {
    align-items: center;
    width: 100%;
    display: block;
    .banner {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 25em;
    }
}

.head {
    background-color: #F9F9F9;
    position: relative;
    top: auto;
    left: auto;
    width: fit-content;
    height: fit-content;
    opacity: 80%;
   
}

.heading {
    padding: 2em 6em;
    text-align: center;
    display: inline-block;
    opacity: 100%;
    position: relative;
    top: 50%;
    background-color: #F9F9F9;
    h1 {
        font-size: 4em;
        font-weight: normal;
        color: rgb(73, 73, 73);
        font-family: poppins;
        letter-spacing: .2em;
    }
}

.body {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    //background-color: aqua;
    height: fit-content;
    text-align: center;
    justify-content: center;
    align-items: center;
    .filter-line {
        padding-top: 1em;
        padding-left: 1em;
        text-align: left;
        width: inherit;
        p:hover {
            color: #B79B6C;
        }
        p {
            cursor: pointer;
        }
    }
    .dresses {
        padding-left: 1em;
        padding-right: 1em;
        display: flex;
        flex-wrap: wrap;
        margin:-10px;
        .dress {
            flex: 1 1 350px;
            margin: 10px;
            justify-content: center;
            height: fit-content;
            //background-color: black;
        }
    }
}

.empty {
    padding-top: 4em;
    padding-bottom: 4em;
}

.item-block2 {
    //padding: 20px 20px;
    //align-items: center;
    width: fit-content;
    margin: auto;
    text-align: left;
    
    .buttons {
        display: flex;
        place-content: space-between;
        position: relative;
        bottom: 90px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .dress-detail {
        position: relative;
        top: -30px;
    }

    .d-image2 {
        width: 100%;
        img {
            height: 30em !important;
        }
    }
    .d-image4 {
        width: 100%;
        img {
            height: 30em !important;
        }
    }
}

.cat {
    font-size: smaller;
    font-family:Arial, Helvetica, sans-serif;
}

.nam {
    font-size: larger;
    font-family: Poppins;
    font-weight: bold;
    margin: 0;
}

.price {
    font-size: small;
}

button {
    background-color: black;
    border: none;
    box-shadow: none;
    color: white;
    padding: .7em 1em;
}
button:hover {
    background-color: #B79B6C;
}

:host ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {   
    stroke: black;
}

.loader {
    height: 10em;
}

.d-none {
    display: none;
}

.snackbar {
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    font-family: poppins;
    background-color: black;
    color: white;
    letter-spacing: 3px;
    word-spacing: 5px;
}

@media (max-width: 990px) {
    .heading {
        h1 {
            font-size: 2em;
            font-weight: normal;
            color: rgb(73, 73, 73);
            font-family: poppins;
            letter-spacing: .1em;
        }
    }
    .body {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        .dresses {
            padding-left: 0em;
            padding-right: 0em;
        }
    }
    
}

