.main{
    display: flex;
}

.gallery {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;

    .big-picture {
        align-content: center;
        text-align: center;
        width: 100%;
        img {
            width: 40%;
        }
    }
    .small-pictures {
        text-align: center;
        place-content: space-between;
        width: 100%;
        img{
            width: 10%;
        }
    }
}

.details {
    flex: 1;
    h1 {
        font-size: 2em;
        margin-bottom: 0;
    }
    h2 {
        margin-top: 0;
        font-size: 1.3em;
    }
    .dress-details {
        padding-top: 2em;
        p{
            margin: 0;
            font-size: 1em;
            font-weight: 100;
        }
        padding-bottom: 2em;
    }

    .days {
        padding-top: 1em;
    }

    .add {
        margin-bottom: 1em;
    }
    
    .rent{
        font-size: 2em;
    }
}

button {
    background-color: black;
    border: none;
    box-shadow: none;
    color: white;
    padding: .7em 1em;
    width: 9em;
}
button:hover {
    background-color: #B79B6C;
}

.description {
    margin-top: 1em;
    border: solid;
    padding: 2em 1em;
    .dress-details {
        padding-top: 1em;
        p{
            margin: 0;
            font-size: 1em;
            font-weight: 100;
        }
        padding-bottom: 1em;
    }
    margin-bottom: 1em;
}

.reviews {
    margin-top: 1em;
    margin-bottom:2em;
    padding-left: 3em;
    padding-right: 3em;
    .review {
        display: flex;
        width: 100%;
        text-align: center;
        place-content: space-between;
        .name {
            text-align: center;
            align-content: center;
            float: left;
        }
        .rating {
            text-align: center;
            align-content: center;
            float: right;
            margin-top: auto;
            margin-bottom: auto;
        }
        .comment {
            margin-top: auto;
            margin-bottom: auto;
        }
    }
}

.disabled {
    background-color: grey !important;
}
.disabled:hover {
    background-color: gray !important;
}

.snackbar {
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    font-family: poppins;
    background-color: black;
    color: white;
    letter-spacing: 3px;
    word-spacing: 5px;
}

@media (max-width: 990px) {
    .review {
        flex-direction: column;
        .rating {
            margin-top: 1em !important;
        }
    }
    .details {
        flex: 1;
        h1 {
            font-size: 1.5em;
            margin-bottom: 0;
        }
        h2 {
            margin-top: 0;
            font-size: 1em;
        }
        .dress-details {
            padding-top: 1.5em;
            p{
                margin: 0;
                font-size: 1em;
                font-weight: 100;
            }
            padding-bottom: 1.5em;
        }
    
        .days {
            padding-top: 1em;
        }
    
        .add {
            margin-bottom: 1em;
        }
        
        .rent{
            font-size: 1em;
        }
    }
    .gallery {
        justify-content: center !important;
    }
    .big-picture {
        align-content: center;
        text-align: center;
        img {
            width: 90% !important;
        }
    }
    .small-pictures {
        text-align: center;
        place-content: space-between;
        width: 100%;
        img{
            width: 20% !important;
        }
    }
    
}

.loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  
  /* Transparent Overlay */
  .loading:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
      background: radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0, .8));
  
    background: -webkit-radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0,.8));
  }
  
  /* :not(:required) hides these rules from IE9 and below */
  .loading:not(:required) {
    /* hide "loading..." text */
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
  }
  
  .loading:not(:required):after {
    content: '';
    display: block;
    font-size: 10px;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    -webkit-animation: spinner 150ms infinite linear;
    -moz-animation: spinner 150ms infinite linear;
    -ms-animation: spinner 150ms infinite linear;
    -o-animation: spinner 150ms infinite linear;
    animation: spinner 150ms infinite linear;
    border-radius: 0.5em;
    -webkit-box-shadow: rgba(255,255,255, 0.75) 1.5em 0 0 0, rgba(255,255,255, 0.75) 1.1em 1.1em 0 0, rgba(255,255,255, 0.75) 0 1.5em 0 0, rgba(255,255,255, 0.75) -1.1em 1.1em 0 0, rgba(255,255,255, 0.75) -1.5em 0 0 0, rgba(255,255,255, 0.75) -1.1em -1.1em 0 0, rgba(255,255,255, 0.75) 0 -1.5em 0 0, rgba(255,255,255, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(255,255,255, 0.75) 1.5em 0 0 0, rgba(255,255,255, 0.75) 1.1em 1.1em 0 0, rgba(255,255,255, 0.75) 0 1.5em 0 0, rgba(255,255,255, 0.75) -1.1em 1.1em 0 0, rgba(255,255,255, 0.75) -1.5em 0 0 0, rgba(255,255,255, 0.75) -1.1em -1.1em 0 0, rgba(255,255,255, 0.75) 0 -1.5em 0 0, rgba(255,255,255, 0.75) 1.1em -1.1em 0 0;
  }
  
  /* Animation */
  
  @-webkit-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-moz-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-o-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }



